.backgrouundStyle {
    background-color: #DBDFFD;
}

.backgrouundStyle2 {
    background-color: #9BA3EB;
}

.backgrouundStyle1 {
    background-color: #646FD4;
}



hr {

    border: 2px solid black;
}

.buttonWeight {
    width: 250px;
}